{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock stylesheets %}

{% block title %} Profile {% endblock %} 

{% block content %}
<h3>Profile</h3>
<form 
    class="row pt-3 pb-5"
    method="POST" 
    enctype="multipart/form-data"
> 
    {% csrf_token %}  
    <div class="col-md-5">
        <img 
        src="{% if user.profile_picture %} 
                {{ user.profile_pic.url }} 
            {% else %} 
                {% static 'img/default.jpg' %}
            {% endif %}"
        alt="avatar_placeholder" 
        class="img-fluid img-thumbnail rounded mx-auto d-block"
        >
        <div class="input-group  mt-4">
            <div class="custom-file">
                
                <label class="custom-file-label" for="customFile">Change</label>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-success" type="button" id="inputGroupFileAddon04">Edit</button>
            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="form-group row mb-4">  
            <label class="col-md-2 col-form-label">Nickname:</label>  
            <div class="col-md-6">  
                <input 
                    name="profile_nickname"
                    type="text" 
                    class="form-control" 
                    value="{{user.profile_nickname}}" />
            </div>  
            <div class="col-md-2">
                <button type="submit" class="btn btn-success">Edit</button>  
            </div>
          </div>
        
        <div class="form-group row mb-4">  
            <label class="col-md-2 col-form-label">Bio:</label>  
            <div class="col-md-6">  
                <textarea 
                    class="form-control" 
                    rows="3" 
                    value="{{user.profile_bio}}"
                    name="profile_bio"
                >{{user.profile_bio}}</textarea>
            </div>  
            <div class="col-md-2">
                <button type="submit" class="btn btn-success">Edit</button>  
            </div>
        </div>
    </div>

</form>
{% endblock %}