{% extends "base.html" %}
{% load static %}

{% block title %} Profile {% endblock %} 

{% block content %}
<h3>Profile</h3>
<div class="row pt-3 pb-5">
    <div class="col-md-5">
        <img 
        src="https://i.pravatar.cc/500?img=12" 
        alt="avatar_placeholder" 
        class="img-fluid img-thumbnail rounded"
        >
    </div>
    <div class="col-md-7">
        <h3 class="font-weight-bold ">
            <u>Miggy</u>
        </h3>
        <p>
            Hello! My name is Miggy Pinaroc, a student studying BS Computer Science, Specialization in Data Science and Analytics in Ateneo de Manila University.
            
        </p>
    </div>
</div>
{% endblock %}